
body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background: linear-gradient(181deg, #ffffff, #e9edfd);
  background-size: 400% 400%;
  animation: gradientMove 7s ease infinite;
  margin: 0;
  padding: 0;
  color: #fff;
}

@keyframes gradientMove {
  0% { background-position: 42% 24%; }
  50% { background-position: 59% 100%; }
  100% { background-position: 42% 0%; }
}

/*  FONTES */
.montserrat-1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dela-gothic-one-regular {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fonte2 {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 300;
}

/*  ELEMENTOS*/
h1, h2 {
font-family: 'Montserrat';
  color: #fff;
}

h1 {
  font-size: 3rem;
}

.countdown {
  font-size: 2rem;
  margin-top: 20px;
}

.zoom {
  transition: transform 0.4s ease-in-out;
}

.zoom:hover {
  transform: scale(1.08);
}

/* Cores */
:root {
  --dark-background-color: #000;
  --white-color: #fff;
}

/* Imgs */
img {
  max-width: 100%;
  height: auto;
}

.linuxfoto {
  height: 200px;
  width: 200px;
}

/* Containers */
.container, .container-fluid {
  text-align: center;
  padding: 1rem;
}

/* Medidas Mobile */
@media (max-width: 992px) {
  h1 {
    font-size: 2rem;
  }

  .countdown {
    font-size: 1.5rem;
  }

  .fonte2 h1,
  .fonte2 h2,
  .fonte2 h3 {
    font-size: 1.3rem;
  }

  img {
    max-width: 90%;
  }
}

/* Mobile */
@media (max-width: 576px) {
  h1 {
    font-size: 1.6rem;
  }

  .countdown {
    font-size: 1.2rem;
  }

  .fonte2 h1 {
    font-size: 1rem;
  }

  .fonte2 img {
    max-width: 100%;
    height: auto;
  }
}
