
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.montserrat-1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .dela-gothic-one-regular {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.fonte2{
    font-family: "Dela Gothic One";
    font-weight: 400;
}
.container {
    text-align: center;
}
h1 {
    font-family: 'Montserrat';
    font-size: 3rem;
}
.countdown {
    font-size: 2.5rem;
    margin-top: 20px;

}

.zoom:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

:root{
    --dark-background-color: #000000;
    --white-color: #ffffff;
}

body{
    background-color: var(--dark-background-color);
    transition: .5s;
}

h1, h2, h3, h4, h5, h6{
    color: var(--white-color);
}

linuxfoto{
    height: 200px;
    width: 200px;
}

.css-selector {
    background: linear-gradient(181deg, #ffffff, #bac2ff);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 0s ease infinite;
    -moz-animation: AnimationName 0s ease infinite;
    animation: AnimationName 0s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:42% 0%}
    50%{background-position:59% 100%}
    100%{background-position:42% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:42% 0%}
    50%{background-position:59% 100%}
    100%{background-position:42% 0%}
}
@keyframes AnimationName {
    0%{background-position:42% 0%}
    50%{background-position:59% 100%}
    100%{background-position:42% 0%}
}